<?xml version="1.0"?>
<launch>

  <arg name="joy" default="false" />

  <!-- Node of RoMAA driver -->
  <node pkg="romaa_driver" type="romaa_driver" name="romaa" output="screen" >
    <rosparam file="$(find romaa_driver)/config/params.yaml" />
  </node>

  <include file="$(find romaa_driver)/launch/joy_teleop.launch" if="$(arg joy) "/>

</launch>
